<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <title>Markdonw Editor</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta name="theme-color" content="#ffffff">
  
  <!-- conditional load of showdown's version based on the cookie -->
  <script>
    (function() {
      function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
      }

      var ver = getCookie('version') || 'develop',
          url = 'https://rawgit.com/showdownjs/showdown/' + ver + '/dist/showdown.min.js',
          scrp = document.createElement('script');

      scrp.setAttribute("type","text/javascript");
      scrp.src = url;
      document.getElementsByTagName("head")[0].appendChild(scrp);
    })();
  </script>

</head>
<body data-ng-controller="editorCtrl">

  <div id="editor-wrapper" class="container">
    <textarea data-ng-model="text">
	</textarea>
    <div id="preview" sd-model-to-html="text"></div>
  </div>

  <script src="js/semver.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-sanitize.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-cookies.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-pageslide-directive/2.2.0/angular-pageslide-directive.js" integrity="sha256-FW2YsacWIn83+j6c02CWOR8fuY4WyzbmmGwz7VOdEI0=" crossorigin="anonymous"></script>

  <script src="js/editor.js"></script>
</body>
</html>
