微信开发者工具：https://developers.weixin.qq.com/miniprogram/dev/devtools/download.html?<br />
微信公众平台：https://mp.weixin.qq.com/<br />
<br />
<br />
小程序项目-&gt;+，填入AppID或者使用测试号，名称，目录。<br />
<ul>
	<li>
		app.js是小程序的初始化脚本，可以在这个文件中监听小程序的生命周期，申请全局变量和调用API等
	</li>
	<li>
		app.json是对小程序的全局配置，pages设置页面路径组成（默认第一条为首页），window设置默认页面的窗口表现等。主要分为五个部分：
	</li>
	<ul>
		<li>
			pages：页面组
		</li>
		<li>
			window：框架样式（状态栏、导航条、标题、窗口背景色）
		</li>
		<li>
			tabBar：底部菜单
		</li>
		<li>
			networkTimeout：网络超时设置
		</li>
		<li>
			debug：开启debug模式
		</li>
	</ul>
	<li>
		app.wxss 是整个小程序的公共样式表。类似网站开发中的common.css
	</li>
	<li>
		pages目录存放小程序的各个页面，每个页面是一个文件夹。文件夹中有四个同名不同类型文件组成。
	</li>
	<ul>
		<li>
			.js是脚本文件
		</li>
		<li>
			.json是配置文件（非必须，默认会继承app的json默认设置）。
		</li>
		<li>
			.wxss是样式表文件（非必须，默认会继承app的wxss默认设置）。
		</li>
		<li>
			.wxml是页面结构文件
		</li>
	</ul>
	<li>
		project.config.json
	</li>
	<li>
		utils
	</li>
	<ul>
		<li>
			util.js
		</li>
	</ul>
</ul>
使用App()来注册一个小程序，必须在app.js中注册，且不能注册多个<br />
使用Page()注册一个页面，在每个页面的js文件中注册<br />
在每个页面中的wxml文件中，对页面js中data进行数据绑定，以及自定义事件绑定<br />
<p>
	<br />
</p>
<p>
	//app.json<br />
{<br />
&nbsp; "pages":[<br />
&nbsp; &nbsp; "pages/目录名/页面文件名",<br />
&nbsp; &nbsp; "下一个页面文件"<br />
&nbsp; ],<br />
&nbsp; "window":{<br />
&nbsp; &nbsp; "backgroundTextStyle":"light",<br />
&nbsp; &nbsp; "navigationBarBackgroundColor": "#000",<br />
&nbsp; &nbsp; "navigationBarTitleText": "WeChat",<br />
&nbsp; &nbsp; "navigationBarTextStyle":"white"<br />
&nbsp; }<br />
}
</p>
<p>
	app.js
</p>
<p>
	<br />
</p>
<p>
	App({//如下为小程序的生命周期<br />
&nbsp; onLaunch: function() { },//监听初始化<br />
&nbsp; onShow: function() {&nbsp; },//监听显示（进入前台）<br />
&nbsp; onHide: function() {&nbsp; },//监听隐藏（进入后台：按home离开微信）<br />
&nbsp; onError: function(msg) {&nbsp; },//监听错误<br />
&nbsp; //如下为自定义的全局方法和全局变量&nbsp;&nbsp;<br />
&nbsp; globalFun:function(){},<br />
&nbsp; globalData: 'I am global data'<br />
})
</p>
<p>
	<br />
</p>
<p>
	Page({<br />
&nbsp; data: {text: "This is page data."},//页面数据，用来维护视图，json格式<br />
&nbsp; onLoad: function(options) {&nbsp; },//监听加载<br />
&nbsp; onReady: function() {&nbsp; },//监听初次渲染完成<br />
&nbsp; onShow: function() {&nbsp; },//监听显示<br />
&nbsp; onHide: function() {&nbsp; },//监听隐藏<br />
&nbsp; onUnload: function() {&nbsp; },//监听卸载<br />
&nbsp; onPullDownRefresh: function() {&nbsp; },//监听下拉<br />
&nbsp; onReachBottom: function() {&nbsp; },//监听上拉触底<br />
&nbsp; onShareAppMessage: function () {&nbsp; },//监听右上角分享<br />
&nbsp; //如下为自定义的事件处理函数（视图中绑定的）<br />
&nbsp; viewTap: function() {//setData设置data值，同时将更新视图<br />
&nbsp; &nbsp; this.setData({text: 'Set some data for updating view.'})<br />
&nbsp; }<br />
})
</p>

* 跳转并刷新页面：需使用onshow来代替onload执行逻辑，onload只在首次打开页面时执行一次。<br />