html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

@keyframes squeezeBody {
    from { width: 100%; }
    to { width: calc(100% - 300px); }
}

@-webkit-keyframes squeezeBody {
    from { width: 100%; }
    to { width: calc(100% - 300px); }
}

@keyframes stretchBody {
    from { width: calc(100% - 300px); }
    to { width: 100%; }
}

@-webkit-keyframes stretchBody {
    from { width: calc(100% - 300px); }
    to { width: 100%; }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
}

h3 {
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
    padding-top: 5px;
}

.container>* {
    display: block;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 100%;
}

.container textarea {
    resize: none;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    height: 97%;
    max-height: 97%;
    width: 5%;
}

#preview {
    height: 97%;
    max-height: 97%;
    border: 1px solid #eee;
    overflow-y: scroll;
    width: 97%;
    padding: 10px;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color: #f8f8f8;
    border: 1px solid #dfdfdf;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.125rem 0.3125rem 0.0625rem;
}

pre code {
    background-color: transparent;
    border: 0;
    padding: 0;
}